:root{
    --primary-font-family: 'Roboto',
        sans-serif;
    --secondary-font-family: 'Raleway',
        sans-serif;
    --accent-color: #2196F3;
    --primary-title-color: #FFFFFF;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-backgroud-color: #F5F4FA;
    --footer-hero-background-color:#2F303A;
    --hero-backround-color:#C4C4C4;
    --primary-icons-color: #AFB1B8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;  
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;

}
.link{
    text-decoration: none;
}
.body{
    font-family: var(--primary-font-family);
    background-color: var(--primary-title-color);
    box-sizing: border-box;
    display: block;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Header */
.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation{
    display: flex;
    align-items: center;
    
}
.nav-menu-list{
    display: flex;
}
.nav-menu-item:not(:last-child){
    margin-right: 50px;
}
.header{
    background-color: var(--primary-title-color);
    border-bottom: 1px solid #ECECEC
}
.menu-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}
.link.current::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
.nav-menu-list .link.current{
    color: var(--accent-color);
}
.contact-link{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.contacts-list{
    display: flex;
}
.contacts-list-item{
    display: flex;
    align-items: center;
}
.contact-link{
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color)
}
.contact-icon{
    fill: #757575;
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon{
    fill: var(--accent-color)
}
.contacts-list-item:not(:last-child){
    margin-right: 50px;
}
.logo{
    color: #000000;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 92px;
}

.web {
    color: var(--accent-color);
}

/* main content */
/* HERO */
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-title-color);
    margin-bottom: 30px;
    margin-top: 0;
}
.hero-button-text{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-title-color)
}
.hero-button{
    min-width: 200px;
    min-height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    padding: 10px 32px;
    
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus{
    background: #188CE8;
}
.hero{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background: #C4C4C4;
    background-image:linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../images/Hero-Img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
   
/* Our Features */
.section{
    padding-bottom: 94px;
    padding-top: 94px;
}
.features-list{
    display: flex;
    flex-wrap: wrap;
}
.features-list-item:not(:nth-child(4n)){
    margin-right: 30px;
}
.features-list-item{
    flex-basis: calc((100% - 90px) / 4);
}
.features-list-item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}
.features-list-item-text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.features-list-icon-link{ 
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: var(--primary-backgroud-color);
    border-radius: 4px;
}

/* Our Services */
.services {
    padding-top: 0px;
}
.services-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
.service-list-overlay{
    position: relative;
}
.service-list-overlay-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-title-color);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
.services-list{
    display: flex;
    flex-wrap: wrap;
}
.services-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}

/*Team Title*/
.team{
    background: var(--primary-backgroud-color);
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
}
.team-list-item:not(:nth-child(4n)){
  margin-right: 30px;
}
.team-list-item {
    flex-basis: calc((100% - 120px) / 4);
    background-color: var(--primary-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list-item-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}
.team-list-item-orientation{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}
.team-card-content{
    padding-top: 30px;
    padding-bottom: 30px;
}
.social-network{
    display: flex;
    justify-content: center;
}
.social-network-item{
    width: 44px;
    height: 44px;
}
.social-network-item:not(:last-child){
    margin-right: 10px;
}
.social-network-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon{
    fill: var(--primary-icons-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-link:hover .social-icon,
.social-network-link:focus .social-icon{
    fill: var(--primary-title-color);
}
.social-network-link:hover,
.social-network-link:focus{
    background: var(--accent-color);
}
/* Our Clients */
.clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
.client-list{
    display: flex;
    justify-content: center;
}
.clients-list-item{
    width: 170px;
    height: 92px;
}
.clients-list-item:not(:last-child){
    margin-right:30px;
}
.clients-link{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: 1px solid #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon{
    fill: var(--primary-icons-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.clients-link:hover .client-icon,
.clients-link:focus .client-icon{
    fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus{
    border-color: var(--accent-color);
}

/* Footer */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    font-style: normal;
    background: var(--footer-hero-background-color);
}
.logo-footer{
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    margin-bottom: 20px;
}
.map-link{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}
.address-link{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus{
    color: var(--accent-color);
}
.footer-content{
    display: flex;
    align-items: baseline;  
}
.footer-left{
    margin-right: 70px;
    flex-grow: 1;
}
.address{
    font-style: normal;
}
.address-list-item:not(:last-child){
    margin-bottom: 9px;
}
.our-social-networks-list{
    display: flex;
}
.our-social-network-item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.our-social-network-item:not(:last-child) {
    margin-right: 10px;
}
.social-networks-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-title-color);
    margin-bottom: 20px;
}
.our-social-network-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--primary-title-color);
    background: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-social-network-link:hover,
.our-social-network-link:focus{
    background: var(--accent-color);
}
.footer-form {
    margin-left: 93px;
    justify-self: flex-end;
}
.footer-form-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-title-color);

    margin-bottom: 20px;
}
.footer-input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    color: var(--primary-title-color);

    margin-right: 12px;
    padding-left: 16px;
}
.footer-form-button {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;

    padding: 10px 29px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-button:hover,
.footer-form-button:focus {
    background: #188CE8;
}
.footer-button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);

    margin-right: 10px;
}
.footer-button-icon {
    fill: var(--primary-title-color);
}
.footer-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-form-content {
    display: flex;
    align-items: flex-end;
}

/* Portfolio */

/* Project Types */
.projects-types-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.menu-buttons:not(:last-child){
    margin-right: 8px;
}
.button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: var(--primary-backgroud-color);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 6px 22px;

    transition-property: color, background-color, box-shadow, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus{
    color: var(--primary-title-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
/* Projects */
.project-card-link{
    display: block;
    color: inherit;
    text-decoration: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card-link:hover,
.project-card-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}
.project-orientation{
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.projects-container{
    padding-top: 94px;
    padding-bottom: 94px;
}
.projects-section-list{
    display: flex;
    flex-wrap: wrap;
}
.project-card{
    flex-basis: calc((100% - 270px) / 9);
}
.project-card:not(:nth-child(3n)){
    margin-right: 30px;
}
.project-card:not(:nth-last-child(-n + 3)){
    margin-bottom: 30px;
}
.project-card-content{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.project-card-overlay{
    position: relative;
    overflow: hidden;
}
.project-card-overlay-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;

    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    overflow: auto;

    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card-link:hover .project-card-overlay-text,
.project-card-link:focus .project-card-overlay-text{
    transform: translateY(0%);
}

/* Modal */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity , visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    position: absolute;
    width: 528px;
    height: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px;
}
.modal-close-button{
    background-color: transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-form{
    display: flex;
    flex-direction: column;
}
.modal-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    margin-bottom: 12px;
}
.contact-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;

    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus{
    border-color: var(--accent-color);
    outline: none;
}
.contact-form-input:focus + .modal-form-icon{
    fill: var(--accent-color);
}

.contact-form-textarea{
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    padding: 12px 16px;
}
.contact-form-textarea:focus{
    border-color: var(--accent-color);
    outline: none;
}
.contact-form-textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.contact-form-field-text{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);

    margin-bottom: 4px;
}
.contact-form-field{
    margin-bottom: 10px;
}
.contact-form-field.textarea{
    margin-bottom: 20px;
}
.contact-form-wrapper {
    position: relative;
    display: block;
}
.modal-form-icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-checkbox-label{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.contact-form-checkbox-label::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 2px solid;
    border-color: #212121;
    border-radius: 2px;
    margin-right: 10px;
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before{
    border-radius: 2px;
    background-image: url(../images/icons/icon-check.svg);
    border-color: var(--accent-color);
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}
.contact-form-checkbox:focus + .contact-form-checkbox-label::before{
    outline: 2px solid var(--accent-color);
}
.modal-submit-button{
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
    cursor: pointer;
    border: none;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    align-self: center;
    justify-self: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-button:hover,
.modal-submit-button:focus{
    background: #188CE8;
}
